body {
  background-color: #FF8A65  !important;
}

.container {
  margin-top: 30px;
  text-align: center;
  border: 3px solid black;
  padding: 10px;
  width: 40% !important;
  background-color: white;
  min-width: 370px;
}


#gameboard {
  width: 360px;
  margin: 0 auto;
  font-size: 50px;
  padding-bottom: 20px;
  text-align: center;
  padding: 2px;
}

.row {
  clear: both;
  overflow: hidden;
}

.square {
  width: 119px;
  height: 119px;
  float: left;
  padding-top: 35px;
}

.bottom {
  border-bottom: 1px solid black;
}

.right {
  border-right: 1px solid black;
}

.board {
  background-color: black;
  width: 580px;
  min-width: 300px;
  margin: 10px auto;
  border: 1px solid white;
}

.msg {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  width: 600px;
}

.con {
  margin: 0 auto;
  height: 60px;
  width: 262px;
}

.score {
  border: 1px solid white;
  width: 130px;
  height: 30px;
  margin: 0 auto;
  float: left;
  color: white;
}

.resultstitle {
  color: white;
}
